/* GENERAL
**************************/
html, body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
  background-color: rgb(237, 237, 237);
  min-width: 320px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

html, body, h1, h2, h3, h4, p { margin: 0 }
h1, h2, .progress, .progressContainer { position: relative }
h1, p, h4 { text-align: center }

/* RING
**************************/
.lds-ring {
  z-index: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 64px;
  height: 64px;
	position: absolute
}

.lds-ring div { border: 6px solid darkcyan }
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: darkcyan transparent transparent transparent
}
.lds-ring div:nth-child(1) { animation-delay: -0.45s }
.lds-ring div:nth-child(2) { animation-delay: -0.3s }
.lds-ring div:nth-child(3) { animation-delay: -0.15s }

@keyframes lds-ring { from { transform: rotate(0deg) } to { transform: rotate(360deg) } }

/* PROGRESS
**************************/
.progressContainer {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgba(237, 237, 237, .75);
  transition: all .25s;
  color: rgb(65, 65, 65);
  overflow-y: auto
}

.progressContainer h1 {
  color: black;
  font-size: 32px;
  top: 10px;
  text-shadow: 0 0 5px black
}

.progress {
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  margin-top: 40px;
  min-height: 0
}

.progressBar {
  width: 100%;
  height: 7px;
  background-color: darkgray
}

.progressBarValue {
  width: 0%;
  height: 100%;
  background-color: darkcyan;
  transition: all .4s
}

.frame {
  position: relative;
  width: 3%;
  height: 100%;
  background-color: rgba(255, 255, 255, .2);
  animation: effect 1.5s linear infinite
}

.update { display: none }

@keyframes effect { 0% { left: 0 } to { left: calc(97%) } }

.progressContainer h3 {
  color: rgb(26, 26, 26);
  margin-left: 2px;
  position: absolute;
  right: 0;
  top: 5px
}

p { margin-top: 43px }

@media (min-width: 400px) {
  p { margin-top: 60px }

  .progressContainer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 25px black;
    border-radius: 4px;
    width: 300px;
    min-height: 0
  }
}

@media (min-width: 500px) { .progressContainer { width: 350px } }

@media (min-width: 768px) {
  .progressContainer { min-height: 500px }
  .update {
    display: block;
    position: absolute;
    width: 100%;
    min-height: 0;
    bottom: 0
  }
}

@media (min-width: 1024px) {
  .progressContainer h3 { cursor: help }
  .effect a {
    text-decoration: none;
    color: rgb(39, 39, 39)
  }
  .effect {
    position: relative;
    cursor: pointer
  }
  .effect:after {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(39, 39, 39);
    transition: width .5s
  }
  .effect:hover:after { width: 100% }
}